services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - 80:80
    depends_on:
      - user-service
      - post-service
      - notification-service
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf

  user-service:
    build: ./user-service
    ports:
      - "3001:3001"
    env_file:
      - ./user-service/.env
    depends_on:
      - user-db

  post-service:
    build: ./post-service
    ports:
      - "3003:3003"
    env_file:
      - ./post-service/.env
    depends_on:
      - post-db
      - notification-service
      - minio

  notification-service:
    build: ./notification-service
    ports:
      - "3002:3002"
    env_file:
      - ./notification-service/.env
    depends_on:
      - notification-db


  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

  user-db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - user-data:/data/db

  post-db:
    image: mongo:latest
    ports:
      - "27018:27017"
    volumes:
      - post-data:/data/db

  notification-db:
    image: mongo:latest
    ports:
      - "27019:27017"
    volumes:
      - notification-data:/data/db

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
      - '--web.enable-lifecycle'

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

volumes:
  user-data:
  post-data:
  notification-data:
  minio-data:
  prometheus_data:
  grafana_data:
